
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <h1>Private events Help center</h1>
        <form action="#">
            <input type="text" placeholder = "How can we help you?" class="form-control">
            <input type="button" value="Search" class="btn btn-primary">
        </form>
    </div>
</div>

