html {
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'NYTImperial', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #333;
  width: 100vw;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.menu-bnt {
  border: none;
  background: #fff;
}

/* left menu */
.navbar-top {
  display: none;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;

}

/* show nav bar left */
.menu-bnt:hover .navbar-top {
  display: block;
}

.menu {
  width: 220px;
  height: 100%;
  float: left;
}

/* MENU BOX */
.menu > ul {
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 6px 1px;
  margin: 0;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-weight: 700; 
  font-style: normal;
  border-radius: 3px;
  border-right: 1px solid rgb(204, 204, 204);
  text-align: left;
  z-index: 150;
}

.menu li {
  list-style: none;
  padding: 5px 20px;
  cursor: pointer;
}

.menu li:hover {
  list-style: none;
  padding: 5px 20px;
  cursor: pointer;
  background: #edf8ff;
}

/* gray left arrow */
.menu svg {
  transform: rotate(270deg);
  display: block;
  float: right;
  height: 4px;
  margin-top: -14px;
  width: 3px;
}

.menu ul li ul {
  display: none;
}

.menu ul li.submenu {
  position: relative;
}

/* SUBMENU BOX */
.menu ul li.submenu ul {
  position: absolute;
  left: 185px;
  width: 200px;
  top: -10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  z-index: 1000000150;
  padding: 10px 18px;
  border-color: rgb(204, 204, 204);
  box-shadow: rgba(0, 0, 0, 0.09) -1px 4px 6px;
  background: rgb(255, 255, 255);
}

.menu ul li.submenu ul::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 23px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
  border-right-color: rgb(204, 204, 204);
  border-left: 0;
  border-style: solid;
	margin-top: -15px;
  margin-left: -15px;
  z-index: 170;
}

.menu ul li.submenu ul::after {
	content: "";
	position: absolute;
  left: 0px;
	top: 23px;
	width: 0;
	height: 0;
	border: 14px solid transparent;
  border-right-color: rgb(255, 255, 255);
  border-left: 0;
  border-style: solid;
	margin-top: -14px;
  margin-left: -14px;
  z-index: 170;
}

.menu ul li.submenu:hover ul {
  display: inline-block;
}

.menu ul li.menu-separator {
  border-bottom: 1px solid rgb(204, 204, 204);
}

/* TOP NAVBAR */
.nav {
  display: inline-block;
  width: calc(100% / 3);
  height: 42px;
}

.nav a {
  font-size: 14.25px;
  font-weight: 700;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navbar-top-main {
  display: block;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100vw;
  z-index: 100;
  height: 43px;
  border: none;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
}

.ntm-left {
  position: relative;
  float: left;  
  padding-top: 12px;
  padding-left: 18px;
}

.ntm-left svg {
  width: 16px;
  box-sizing: content-box;
}

.ntm-center {
  position: relative;
  text-align: center;
  float: left;
  padding-top: 12px;
  
}

.ntm-center svg {
  width: 195px;
  height: 26.484px;
}

.ntm-right {
  position: relative;
  text-align: right;
  float: right;
  padding-top: 6px;
  padding-right: 40px;
}

.ntm-right button {    
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  letter-spacing: 0.05em;
  height:30px;
}

.ntm-right button:hover {
  background-color: #366586;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  letter-spacing: 0.05em;
  height:30px;
}

/* MAIN */
main {
  width: 100vw;
  height: auto;
}

/* HEADER */
header {
  display: block;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 25px;
}

/* ARTILE TITLE */
.art-title {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
}

.art-title > h1 {
  max-width: 600px;
  width: 600px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 7vw;
}

/* Ghost Title */
.art-title > h1 span:first-child {
  position: absolute;
  left: 0;
  visibility: hidden;
  max-width: 600px;
  margin-left: 0;
  padding: 0;
}

/* Visibile Title */
.art-title > h1:last-child {
  display: block;
  position: relative;
  width: 387px;
  font-size: 40px;
  font-family: 'NYTCheltenham', Georgia, 'Times New Roman', Times, Serif;
  font-weight: 700;
  font-style: italic;
  color: #121212;
  line-height: 1.2;
  letter-spacing: -0.3px;
  word-spacing: -1px;
}

/* TITLE, LANDING IMG, FIGCAPTION, AUTHOR, DATE AND SHARE BUTTONS */
.landing-container {
  max-width: 1200px;
  height: auto;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.landing-container > img {
  width: 100vw;
  max-width: 1200px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  display: block;
  max-width: 900px;
  padding: 9px 20px 0 0;
}

/* Image Main Blurb */
.img-blurb {
  font-family: 'NYTImperial', Georgia, 'Times New Roman', Times, Serif;
  font-size: 0.95em;
  font-weight: 400;
  font-style: normal;
  color: #666;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Hidden 'Credit' caption for screenreaders */
.figcaption-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

figcaption > span:last-child > span:last-child {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: #888;
  font-size: 0.8em;
}

/* AUTHOR, DATE, SHARE BUTTONS */
.header-end {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow: auto;
}

.author {
  display: block;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.95em;
  margin: 25px 0 22px 0;
}

.author a {
  text-decoration: none;
  color: #333;
  padding-bottom: 20px;
  text-decoration-line: underline;
  text-decoration-color: #ccc;
}

/* Publish Date and Buttons */
.date-time-buttons {
  display: block;
}

.date-time-buttons li time {
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8em;
}

/* Buttons Container */
.art-start-buttons {
  float: right;
  position: relative;
  bottom: 30px;
}

.art-start-buttons li {
  float: left;
  padding: 0 8px;
  border: none;
}

/* Social Media SVGS */
.share > svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #eee;
  padding: 5px;
  color: black;
  font-size: 100%;
  text-size-adjust: 100%;
  cursor: pointer;
}

button.share-arrow {
  border: none;
  padding: 5px;
  overflow: hidden;
  color: black;
  font-size: 100%;
  text-size-adjust: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #eee;
}

.bookmark {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.bookmark:hover {
  opacity: 0.6;
}

/* Hover effect over buttons */
.share > svg:hover,
button.share-arrow:hover {
  background-color: transparent;
  border: 1px solid #ccc !important;
}

.comments-image {
  width: 38px;
  height: auto;
  cursor: pointer;
  image-rendering: optimizeQuality;
  outline: none;
}

/* Hover effect on comments button */
.comments-image:hover {
  opacity: 0.7;
}

/* 'One Article Preview' Box */
.preview-box {
  display: block;
  position: relative;
  width: 450px;
  height: auto;
  border: 1px solid #ccc;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, serif;
  font-size: 0.95em;
  word-wrap: normal;
  line-height: 1.5;
  margin-top: 48px;
  padding: 10px 15px;
}

.preview-box span p {
  margin: 0;
}

.preview-box a[href] {
  color: #326891;
}

/* ARTICLE */
article {
  width: 100vw;
  height: auto;
}

/* Article Paragraph Blocks */
.art-text div p,
.art-text div h3 {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 600px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.9375rem;
}

/* Article links styling */
article a[href] {
  color: #326891;
}

/* Theory of Inflation Section */
.subheader {
  font-family: 'NYTCheltenham', Georgia, 'Times New Roman', Times, serif;
  display: block;
  position: relative;
  max-width: 955px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 31px;
}

.subheader div h2 {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 700;
  color: #000;
  margin-bottom: 2px
}

.subheader div p {
  font-size: 0.98rem;
  line-height: 1.125em;
  font-weight: 300;
  color: #666;
  margin: 0;
  margin-right: 7px;
}

/* Main Container */
.tif-container {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 954.450px;
  width: calc(100% - 40px);
  height: auto;
  margin: 0 auto 12px;
}

/* Image and Text Container */
.tif-subcontainer {
  display: block;
}

.tif-subcontainer img {
  max-width: 100%;
  height: auto;
}

/* Text Divs */
.tif-subcontainer > div {
  position: absolute;
  width: 13.8rem;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, serif;
  font-size: 0.83em;
  font-weight: 300;
  color: #000;
  line-height: 17px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}

.tif-subcontainer > div > p {
  margin: 0;
}

.tif-subcontainer > div > p > span {
  font-weight: 700;
  font-size: 0.85em;
}

/* Theory of Inflation Text Div Alignment */
.tif-first-row {
  top: 24.82%;
}

.tif-second-row {
  top: 73.43%;
}

.a,
.e {
  left: 0.043%;
}

.b,
.f {
  left: 25.56%;
}

.c,
.g {
  left: 51.08%;
}

.d,
.h {
  left: 76.59%;
}

/* Theory of Inflation Author Footer */
.tif-footer {
  display: block;
  margin-bottom: 0;
  max-width: 945px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.tif-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 0.5px;
  margin: 0 0 10px;
  background-color: #000;
}

.tif-footer > div {
  display: block;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 0.88em;
}

.tif-footer div p {
  margin: 0;
  margin-bottom: 50px;
}

/* Youtube Embed */
.embed-container {
  max-width: 600px;
  height: auto;
  margin: 43px auto;
}

.embed-container div:first-child {
  display: block;
  width: 100%;
  height: 357.5px;
  margin: 0;
  padding: 0;
  border: 0;
}

.embed-container div:first-child iframe {
  width: 100%;
  height: 100%;
}

.embed-container figcaption span:first-child {
  font-size: 0.9375em;
  line-height: 1.25em;
  margin-right: 7px;
  color: #666;
}

.embed-container figcaption span:last-child {
  display: block;
  font-size: 1em;
}

.embed-container figcaption span:last-child span:first-child {
  position: absolute;
  width: 1px;
  height: 2px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/* Article Image #3 */
.img3-container {
  display: block;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.img3-container div {
  width: 720px;
  max-width: calc(100% - 40px);
  height: auto;
  margin: 58px auto 0 auto;
}

.img3-container div img {
  width: 100%;
  height: auto;
}

.img3-container figcaption {
  display: block;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  margin-bottom: 45px;
}

.img3-container figcaption span:first-child {
  font-size: 0.9375em;
  line-height: 1.25em;
  margin-right: 7px;
  color: #666;
}

.img3-container figcaption span:last-child span:first-child {
  position: absolute;
  width: 1px;
  height: 2px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.img3-container figcaption span:last-child {
  display: inline-block;
  font-size: 1em;
}

/* END OF ARTICLE SECTION */
.art-end {
  display: block;
  width: 100vw;
  height: auto;
  margin-top: 20px;
}

.art-end div p {
  display: block;
  max-width: 600px;
  width: calc(100% - 40px);
  width: 600px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, serif;
  font-size: 0.75em;
  line-height: 1.1rem;
  color: #666;
  margin: 0px auto 1em;
}

.art-end div p a {
  color: #666;
}

.art-end div p a:hover {
  text-decoration: none;
}

.art-end-buttons {
  max-width: 600px;
  width: calc(100% - 40px);
  margin: 1.5rem auto 2rem;
  padding: 0;
  border: 0;
}

.art-end-buttons div:first-child {
  display: inline-block;
  width: 350px;
  padding: 0 1rem 0 0;
}

.art-end-buttons > div:first-child > button {
  width: 100%;
  background-color: #567b95;
  color: white;
  display: block;
  font-family: 'NYTFranklin', Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #326981;
  border-radius: 3px;
  padding: 5px 0;
  cursor: pointer;
}

.art-end-buttons > div:first-child > button:hover {
  background-color: #326981;
  transition: background-color 0.6s ease 0s;

}

.art-end-toolkit-buttons {
  display: block;
  position: relative;
  left: 422px;
  bottom: 45px;
}

.art-end-toolkit-buttons > li {
  display: inline-block;
  padding: 0 7px;
}

/* MORE ARTICLES SECTION */
.more-art {
  display: block;
  width: 1300px;
  height: auto;
  padding: 0 20px;
  margin: 32px auto 0;
}

.more-art ul {
  display: block;
  max-width: 1200px;
  max-height: 600px;
  margin: 12px auto 0;
  padding: 0;
}

.more-art-img {
  padding: 0 !important;
}

/* Section Title */
.more-art div:first-child {
  padding: 40px 0 16px;
  line-height: 140%;
  border-top: 1px solid #e2e2e2;
}

.more-art div:first-child h4 {
  display: block;
  font-family: 'NYTFranklin', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Section Container */
.more-art-story {
  display: block;
  width: 33%;
  padding: 0 10px;
  margin: 12px auto 16px;
  float: left;
  text-align: left;
}

/* Section Links */
.more-art-story a {
  text-decoration: none;
}

.more-art-story a:hover *:not(figcaption) {
  color: #121212 !important;
}

/* Image and Cpation Container */
.more-art-story a div:first-child {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.more-art-story a div:first-child figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px;
}

.more-art-story a div figure div:first-child {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* Image */
.more-art-story a div:first-child figure div:first-child img {
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
}

/* .voyager-img {
  height: 240.531px !important;
} */

.voyager-text {
  text-align: left !important;
}

/* Image Caption */
.more-art-story a div:first-child figure div figcaption {
  display: block;
  font-family: 'NYTFranklin', Arial, Helvetica, sans-serif;
  text-align: right;
  color: #999;
  font-size: 0.6em;
  line-height: 0.8em;
  min-height: 12px;
  margin: 0 5px 0;
  padding: 0;
  border: 0;
}

/* Story Text Container */
.more-art-story a div:last-child {
  display: block;
  padding: 0 10px;
  color: #333;
}

/* Article Title */
.more-art-story a div:last-child h3 {
  display: block;
  font-family: 'NYTCheltenham', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 125%;
  margin-top: 8px;
}

/* Article Paragraph */
.more-art-story a div:last-child p {
  font-family: 'NYTImperial', Georgia, 'Times New Roman', Times, serif;
  line-height: 145%;
  color: #555;
  font-size: 1em;
  margin-top: 16px;
  border: none;
}

/* Article Author & Date */
.more-art-story a div:last-child h4 {
  display: block;
  font-family: 'NYTFranklin', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #555;
  line-height: 140%;
  margin: 16px 0 8px;
  padding: 0;
  border: 0;
}

.middle-art {
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

/* footer-navbar */
.footer-navbar {
  padding-top: 30px;
}

.footer-div {
  display: block;
  clear: left;
  margin: 0 auto;
  width: 1200px;
  z-index: 190;
  padding: 0 20px;
  font-size: 15px;
  line-height: 17px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  height: 450px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.footer-div:before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
  box-sizing: content-box;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}

.bnav-center {
  position: relative;
  float: left;
  padding-top: 10px;
  margin-left: 25%;
}

.bnav-right {
  position: relative;
  float: right;
  padding-top: 10px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 13px;
}

.footer-div svg {
  width: 195px;
  height: 26.484px;
}

.footer-div a {
  line-height: 16px;
}

.footer-div a:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 195px;
  height: 32px;
  margin-top: 10px;
}

.go-to-page {
  color: rgb(86, 123, 149);
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;  
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  margin-top: 25px;
  float: right;
}

.footer-column {
  float: left;
  margin-top: 10px;
}

.footer-column-1 {
  width: 80%;
}

.footer-column-2 {
  width: 19%;
  float: right;
  padding: 5px 15px;
  border-left: 1px solid rgb(204, 204, 204);
}

.inside-column {
  float: left;
  width: 19%;
}

.inside-column a {
  display: block;
  padding: 4px 0;
  color: black;
  text-decoration-line: none;
  font-size: 14px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
}

.inside-column h4,
.footer-column-2 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14.5px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
}

.footer-sub-div {
  display: block;
  height: 26px;
}

.footer-sub-div svg {
  width: 14px;
  height: 20px;
  vertical-align: text-top;
}

.footer-column-2 > a {
  display: block;
  text-decoration-line: none;
  font-size: 11px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  color: black;
  padding: 5px 0;
}

.footer-sub-div a {
  display: inline-block;
  color: black;
  text-decoration-line: none;
  font-size: 14px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  font-weight: 700;
  height: 23px;
  margin-top: 0;
}

.email-top {
  margin-top: 15px;
}

.footer-column-2 > .mob-app {
  border-top: 1px solid rgb(204, 204, 204);
  margin-top: 10px;
  padding-top: 15px;
}

.copyright {
  height: auto;
  width: 100vw;
  display: block;  
  text-align: center;
  padding-top: 10px;

}

.copyright > a {
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  text-decoration-line: none;
  margin: 0 5px;
}

/* BOTTOM NAV */
.bottom-nav {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  z-index: 190;
  padding: 10px 20px;
  height: 55px;
  border-top: 1px solid black;
  font-size: 15px;
  line-height: 17px;
  font-family: 'NYTFranklin', Georgia, 'Times New Roman', Times, Serif;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 5px 1px;
}

.bnav-right p {
  display: inline-block;
  padding-right: 20px;
}

.bnav-right svg {
  transform: rotate(270deg);
}