<% provide(:title, "edit group") %>
<% provide(:navbar_page_title, "editing group") %>

<%= render 'groups_form', group: @group %>
<div class="bttn">
  <%= button_to 'show', @group, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'back', groups_path, method: :get, class: 'btn btn-secondary' %>
</div>