<link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet" type="text/css">;

body {
  background-color: hsl(210, 45%, 60%);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", Helvetica, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: hsl(45, 50%, 90%);
  display: grid;
  grid-template-columns: 300px 1fr;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 5px;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 750px;
  position: relative;
  top: 40px;
  z-index: 0;
}

#header-img {
  grid-column: 1;
  width: 100%;
  align-self: center;
}

#nav-bar {
  grid-column: 2;
  align-self: center;
  justify-self: right;
  display: flex;
  margin-right: 5px;
}

.nav-link {
  text-decoration: inherit;
  color: inherit;
  margin: 5px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro h2 {
  margin-bottom: 15px;
}

#form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

#features {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-section {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.feature-img {
  width: 50%;
  justify-self: center;
  align-self: start;
  margin-top: 25px;
}

#video {
  margin: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-color: lightgray;
  border-width: 1px;
  padding-bottom: 10px;
}

.product-header {
  margin-bottom: -20px;
}

.product-price {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}

.product-desc {
  list-style: none;
}

footer {
  background-color: hsl(45, 50%, 90%);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  padding-bottom: 0px;
}

#footer-nav {
  display: flex;
  grid-gap: 10px;
}

footer p {
  font-size: 85%;
  color: gray;
  margin-bottom: 10px;
}

.btn {
  text-transform: uppercase;
  background-color: hsl(45, 50%, 80%);
  font-weight: bold;
  border-radius: 6px;
  height: 20px;
  
}

.btn:hover {
  transform: scale(1.05);
  animation-name: background-color;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
      background-color: hsl(45, 70%, 65%);
    }
}

@media(max-width: 590px) {
  body {
    font-size: 85%;
  }
  header {
    grid-template-columns: 255px 1fr;
  }
  main {
    top: 55px;
  }
 
  #nav-bar {
    flex-direction: column;
  }
  .nav-link {
    margin: 2px;
  }
  
  .feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature-img {
    display: none;
  }
  
  #products {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .product-section { 
    margin-top: 10px;
  }
  
  footer {
    margin-top: 65px; 
  }
}

@media(max-width: 450px) {
  body {
    font-size: 75%;
  }
  header {
    grid-template-columns: 210px 1fr;
  }
}