body {
    text-align: -webkit-center;
    font-family: arial,sans-serif;
}

#header {
    text-align: center;
    padding: 30px 30px;
}

/*
#clearButton {	
    padding: 30px 30px;
}
*/

.container {
	border: 5px solid black;
	height: 600px;
	width: 600px;
	margin: 0 auto;
	padding: 0px;	
	background-color: black;
}

.grid {
  display: inline-block;
  background-color: #1C86EE; 
  border: none;
  margin: 0px;
  padding: 0px;  
  box-sizing: content-box;	
}