.users {
    // border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

// pagination
.pagination {
    display: flex;
    justify-content: center;
}