<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | members-only app</title>
  </head>
  <body>
    <h1>members-only app</h1>
    <p>
      this is the home page for the members-only app
    </p>
  </body>
</html>