
body {
    margin: 0px;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: transparent;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

h1, h2, div {
    color: white;
    -webkit-font-smoothing: antialiased;
}

article aside {
    display: block;
    width: 1440px;
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;;
    margin-block-end: 0px;;
}


/* navbar -------------------------------------------------------------------------------*/
#navBar {
    list-style-type: none;
    text-align: center; 

    background-color: rgba(255, 179, 187, 1);
}
  
#navBar li {
    display: inline-block;
    font-size: 17px;
    padding: 17px;
}

/* billboard ----------------------------------------------------------------------------*/
#billboard {
    text-align: center;
    padding: 50px 0;
    background:url("../img/your_verse_hero.jpg") 50% 100% no-repeat;
    background-size: 1440px 1315px;

    background-color: rgba(255, 223, 185, 1);
}

/* promos -------------------------------------------------------------------------------*/
#promos {

    background-color: rgba(255, 254, 187, 1);
}

#promos li {
    width: 360px;
    float: left;
    list-style-type: none;
}

/* footer -------------------------------------------------------------------------------*/
#footer {
    border-top: 1px solid #e4e4e4;
    border-width: 1px;

    background-color: rgba(186, 255, 201, 1);
}

.footerLeft {
    float: left;
    padding-left: 27px;
}

.footerRight {
    float: right;
    padding-right: 27px;
}

/*
* {
    border: 1px solid red !important;
 }
 */