@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/** FONTS ------------------------------------ */
.nav-font {
  font: bold 16px/150% 'Circular', sans-serif;
}

.mob-nav-font {
  font: bold 36px/100% 'Circular', sans-serif;
  cursor: pointer;
}

/** Navbar ---------------------------------- */
header {
  height: 54px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
}

header .content {
  height: 100%;
  width: 100vw;
}

.logo-wrapper a {
  display: inline-block;
  height: 40px;
  width: 132px;
  color: white;
  margin-top: 10px;
}

.logo-wrapper a svg {
  fill: #fff;
  overflow: hidden;
}

.top-nav li a {
  padding: 28px 17px;
  color: #fff;
  text-decoration: none;
}

.top-nav li a:hover,
.mob-top-nav li:hover a {
  color: #1ed760 !important;
}

.mob-top-nav .separator {
  transform: rotate(90deg);
}

.signin {
  color: #d9dadc;
}

/* main ------------------------------------------------------------------------------- */
.m-text h1 {
  line-height: 1.2;
  margin: 0;
  padding-top: 80px;
  font-weight: 900;
  max-width: 100%;
  font-size: 56px;
  width: auto;
  display: inline-block;
  text-align: left;
  direction: ltr;
}

.m-text h2 {
  font-size: 24px;
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  direction: ltr;
}

/* main-top --------------------------------------------------------------------------- */
.main-top {
  background-color: #f037a5;
}

.mt-text {
  color: #121212;
}

/* main-bottom ------------------------------------------------------------------------ */
.main-bottom {
  height: 446px;
  background: url("../img/hero-burst-cropped.svg") no-repeat center/1610px 1523px, linear-gradient(#f037a5 -60%, #fae62d 140%);
  background-color: #f037a5;
}

.mb-text {
  color: #fff;
}

.btn {
  width: auto;
}

/* footer ----------------------------------------------------------------------------- */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #000;
  font-weight: normal;
  min-height: 537px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #1db954;
}

footer nav {
  padding: 0 82.5px;
}

.f-links {
  flex-wrap: wrap;
}

.f-social ul {
  flex-wrap: wrap;
}

.fl-title {
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.footer-logo {
  width: 132px;
}

.fc-img {
  height: 18px;
}

.f-bottom-links {
  font-weight: normal;
  color: #919496;
}

.fc-text {
  font-size: 12px;
  color: #919496;
}

.fbl-text {
  font-size: 12px;
  color: #919496;
}

.fb-date {
  font-size: 12px;
}

.f-bottom-links ul {
  flex-wrap: wrap;
}
