body {
    text-align: -webkit-center;
    font-family: arial,sans-serif;
}

img {
    padding: 30px 30px;
}

div#buttons {
    margin: 0 auto;
}

div#container {
    padding: 20px 20px;
    margin: 0 auto;
    text-align: left;
    width: 200px
}