<%= render 'jumbotron' %>
<section class="upcoming-events">
  <h2>Upcoming Events</h2>
  <%= render partial: "table", locals: {
  events: @upcoming_events, allow_change: true } %>
</section>
<section class="past-events">
  <h2>Past Events</h2>
  <%= render partial: "table", locals: { events: @prev_events, allow_change: false } %>
</section>