<%= provide(:title, "help") %>
<h1>help</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quidem, nesciunt excepturi accusantium illum sed cum quia, distinctio ex mollitia in quis hic facilis sunt error ducimus, itaque eveniet adipisci!s</p>
