<%= provide(:title, "home") %>
<div class="jumbotron">
    <h1 class="display-4">hello, this is a members only app!</h1>
    <p class="lead">this is a simple app you can log in and create posts!!</p>
    <%= link_to "Sign up", sign_up_path, class: "btn btn-primary btn-lg"%>
</div>
