// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-app-name {
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.btn {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}