@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

html {
    text-align: left;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
}
body {
    padding: 0;
    margin: 0;
    background: #F9F9F9;
    max-width: 100vw;
}

h4, p {
    padding: 0;
    margin: 0;
    margin-block-end: 1em;
    margin-inline-end: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 5;
    overflow: hidden;

} 
.navbar a, .navbar div {
    display: inline-block;
}

    /* Guide Icon */
    .hamburger-button {
        display: inline-block;
        max-height: 28px;
        position: relative;
        top: 0px;
        width: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
        .fa-bars {
            color: #606060;
            font-size: 1em;
        }

    /* Youtube Icon */
    .youtube-button {
        display: inline-block;
        position: relative;
        bottom: 1px;
        max-height: 25px;
        width: auto;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .youtube-icon {
        display: block;
        max-height: 28px;
        width: auto;
        margin: 0;
        padding: 0;
        background: white;
    }
    /* Search Form */
    .search-container {
        display: flex;
        justify-content: center;
        width: 35vw;
        height: 30px;
        margin: 0 350px 0px 150px;
    }
        .search-form {
            display: flex;
            width: 35vw;
            height: 30px;
        }
            .search-field-div {
                display: inline-block;
                width: 30vw;
                height: inherit;
            }
                .search-field {
                    width: 30vw;
                    height: inherit;
                    background: transparent;
                    padding-left: 8px;
                    font-size: 1em;
                    font-weight: 300;
                    border: 1px solid lightgray;
                    border-radius: 2px;
                    outline: none;
                }
                .search-button-div {
                    display: inline-block;
                    height: 30px;
                    width: 5vw
                }
            .search-button {
                display: inline-block;
                height: 30px;
                width: 65px;
                border-radius: 2px;
                background: transparent;
                border: 1px solid lightgray;
            }
                .search-button:hover {
                    background-color: #F0F0F0;
                }
                .fa-search {
                    color: #606060;
                    font-size: 1.2em;
                }
                .fa-search:hover {
                    color: #616161;
                }

    /* Create Icon */
    .create-button {
        max-height: 28px;
        width: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .create-icon {
        max-height: 28px;
        width: auto;
        cursor: pointer;
    }

    /* Apps Icon */
    .apps-button {
        max-height: 27px;
        width: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
        .apps-icon {
            height: 27px;
            width: auto;
        }

    /* Settings Icon */
    .settings-button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0px 16px;
    }
        .fa-ellipsis-v {
            color: #606060;
            font-size: 1.4em;
        }

    /* SignIn Button */
    .signin-button {
        display: inline-block;
        height: 36px;
        width: 95px;
        border: 1px solid #0A5FD4;
        border-radius: 2px;
        font-size: 0.8em;
        font-weight: 500;
        line-height: 0;
        color: #0A5FD4;
        background-color: transparent;
        word-wrap: normal;
        white-space: nowrap;
        align-self: flex-end;
    }
        .signin-button > .fa-user-circle {
            color: #0A5FD4;
            position: relative;
            top: 4px;
            font-size: 1.8em;
            padding-right: 5px;
            line-height: 0;
            margin: 0 !important;
        }
/* MAIN PAGE CONTAINER */
.main-container {
    display: grid;
    max-width: 100vw;
    height: auto;
    padding: 72px 26px;
    grid-template-columns: 73vw 26vw;
    grid-auto-flow: row;
    grid-template-areas:
        "video thumbnail"
        "comments thumbnail";
    
}

    /* Main Video iFrame Container (LEFT) */
    .video-content {
        display: inline-flex;
        max-width: 70vw;
        grid-area: video;
        height: auto;
        flex-flow: column nowrap;
        background-color: #F9F9F9;
        padding-right: 20px;
    }
        /* Video iFrame with Title and Buttons */
        .video-column {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            height: auto;

        }
            .video-player {
                position: relative;
                padding-top: 56.25%;
                width: 100%;
            }
            .video-player > iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border: none;
                
            }
            .video-title {
                font-family: inherit;
                font-weight: normal;
                font-size: 1em;
                line-height: 1.8;
                padding-top: 12px;
            }
            .video-info-main {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                color: #606060;
                border-bottom: 1px solid #E0E0E0;
                padding-left: 0px;
            }
                .view-counter {
                    font-size: 0.80rem;
                    font-weight: 400;
                    padding-bottom: 13px;
                }
                
                /* Main Video Buttons */
                .video-info-right {
                    display: flex;
                    width: auto;
                    height: auto;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: baseline;
                    align-content: center;
                    font-family: inherit;
                    font-weight: 500;
                    font-size: 0.75em;
                    color: #606060;
                }
                .likes-section {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: baseline;
                    align-content: center;
                }
                    .likes-dislikes {
                        display: flex;
                        flex-flow: row nowrap;
                        border-bottom: 2px solid #909090;
                        margin-right: 10px;
                        height: 35px;
                        padding-bottom: 0;
                        margin-bottom: -5px;
                    }

                    .likes-counter {
                        display: inline-block;
                        cursor: pointer;
                    }
                    .likes-counter > .fa-thumbs-up {
                        color: #909090;
                        cursor: pointer;
                        padding-right: 10px;
                        padding-left: 15px;
                    }
                    .dislikes-counter {
                        margin-left: 25px;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    .dislikes-counter > .fa-thumbs-down {
                        color: #909090;
                        cursor: pointer;
                        padding-right: 10px;
                    }

                    .fa-share {
                        margin-right: 10px;
                        color: #909090;
                        cursor: pointer;
                    }
                    .share-section {
                        margin-right: 25px;
                        font-size: 1em;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    .fa-plus {
                        margin-right: 10px;
                        color: #909090;
                        cursor: pointer;
                    }
                    .save {
                        margin-right: 20px;
                        font-size: 1em;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    .fa-ellipsis-h {
                        color: #909090;
                        cursor: pointer;
                        padding-right: 5px;
                        position: relative;
                        top: 2px;
                    }
        
        /* Video Description */
        .description-box {
            display: flex;
            flex-flow: column nowrap;
            width: 74vw;
            height: auto;
            font-family: inherit;
            border-bottom: 1px solid #E0E0E0;
            background-color: #F9F9F9;
        }
            .description-top-container {
                display: flex;
                flex-flow: row nowrap;
                align-content: center;
                align-items: center;
                height: auto;
                width: 74vw;
            }
                .profile-pic-container {
                    display: inline-block;
                    padding: 8px 18px 0px 0px;
                    flex: 0 1 auto;
                    cursor: pointer;

                }
                .profile-pic {
                    height: 43px;
                    width: 43px;
                    border-radius: 50%;
                    cursor: pointer; 
                }
                
                .description-top-text {
                    display: inline-block;
                    height: auto;
                    position: relative;
                    top: 5px;
                    white-space: nowrap;
                }
                .description-profile-title {
                    font-size: 0.8em;
                    font-weight: 500;
                    line-height: 1.2;
                    cursor: pointer;
                    outline: none;
                    flex: 0 3 auto;
                }
                .description-profile-title > .fa-check-circle {
                    color: #9C9C9C;
                    font-size: 10px;
                    padding-left: 2px;
                    position: relative;
                    bottom: 2px;
                }
                .description-subscribers-text {
                    font-size: 0.70em;
                    font-weight: 400;
                    line-height: 1;
                    margin-top: -4px;
                    color: #606060;
                    margin-bottom: 0;
                    cursor: pointer;
                }
  
                .description-subscribe {
                    display: inline-block;
                    position: relative;
                    padding-top: 10px;
                    position: relative;
                    margin-left: auto;
                    padding-right: 37px;
                }
                .subscribe-button {
                    background-color: #CC1200;
                    color: white;
                    height: 34px;
                    width: 98px;
                    font-size: 0.75em;
                    font-weight: 400;
                    border-radius: 2px;
                    border: none;
                    cursor: pointer;
                }
                .desc-info {
                    display: flex;
                    position: relative;
                    flex-flow: column nowrap;
                    width: 80%;
                    height: auto;
                    padding: 20px 0px 0px 64px;
                }
                .description-text {
                    display: block;
                    font-size: 0.8em;
                    line-height: 1.5;
                    font-weight: 400;
                    white-space: normal;
                    word-wrap: break-word;
                }
                .show-more-text {
                    font-size: 0.75em;
                    line-height: 1;
                    padding: 20px 0px;
                    color: #1119;
                    font-weight: 500;
                    cursor: pointer;
                }

    /* Video Playlist Column (RIGHT) */
    
    .upnext {
        display: flex;
        flex-flow: column nowrap;
        max-width: 35vw;
        border-bottom: 1px solid #E0E0E0;
    }
    .switch-line {
        display: flex;
        max-width: 35vw;
        height: auto;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        padding: 0px 0px 10px 0px;
    }
    .toggle-switch {
        display: inline-flex;
        position: relative;
        margin-right: auto;
    }

    .upnext-text {
        display: flex;
        flex-flow: row nowrap;
        width: 10vw;
        justify-self: flex-start;
        padding-left: 5px;
        margin-right: 100px;
    }
    .un-left {
        font-size: 0.9em;
        font-family: inherit;
        font-weight: 400;
        word-wrap: normal;
        white-space: nowrap;
    }
    .un-right {
        font-size: 0.75em;
        font-family: inherit;
        font-weight: 600;
        color: #606060;
        padding-right: 4px;
    }
    
    .upnext-video  {
        padding: 8px;
    }
    .un-right {
        align-self: center;
        color: #1119;
    }

    .thumbnail-column {
        display: inline-flex;
        max-width: 30vw;
        grid-area: thumbnail;
        height: auto;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #eee;
        margin-right: 40px;
        background-color: #F9F9F9;
    }

        .tn-box {
            display: flex;
            max-width: 100%;
            height: auto;
            flex-flow: row nowrap;
            height: 100px;
            margin: 5px;
        }
        
        /* Responsive Thumbnail Images & Aspect Ratio */
        .tn-image-container {
            background: #F9F9F9;
        }
            .tn-image-container::before {
                content: "";
                width: 1px;
                margin-left: -1px;
                float: left;
                height: 0;
                padding-top: 56.25%;
            }
            .tn-image-container::after {
                content: "";
                display: table;
                clear: both;
            }
                .tn-image {
                    display: inline-block;
                    width: 168px;
                    height: 94px;
                    padding: 0;                    
                }
        .tn-info {
            display: flex;
            flex-flow: column;
            max-width: 170px;
            font-family: inherit;
            margin: 0px;
            /* margin-block-start: 0px; */
            padding-left: 10px;
            background-color: #F9F9F9;
        }
        .tn-info > h4, p {
            margin-block-start: 0 !important;
        }
            .tn-title {
                font-size: 0.8em;
                line-height: 1.3;
                letter-spacing: 0px;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .tn-channel {
                font-size: 0.75em;
                font-weight: 400;
                color: #606060;
                word-wrap: break-word;
                white-space: normal;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .tn-views {
                cursor: pointer;
                font-size: 0.75em;
                font-weight: 400;
                color: #606060;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

    /* User Comment Container */
    .userComment-column {
        display: flex;
        width: 65vw;
        height: auto;
        order: 3;
        grid-area: comments;
        padding: 20px 0;
    }
    /* User Comment Box */
    .uc-box {
        display: flex;
        width: 65vw;
    }

    .uc-box > .fa-user-circle {
        line-height: 1.5;
        font-size: 2.5em;
        color: #0A5FD4;
        padding-right: 20px;
    }

        .uc-info {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
            .uc-section {
                display: flex;
            }
                .uc-name {
                    margin-right: 4px;
                    margin-bottom: 2px;
                    font-size: 0.8rem;
                    font-weight: bold;
                    line-height: 1.8rem;
                }
                .uc-commentAge {
                    margin-right: 4px;
                    font-size: 0.8rem;
                    line-height: 1.8rem;
                    color: #7B7B7B;
                }
                .uc-comment {
                    margin-right: 4px;
                    margin-bottom: 2px;
                    line-height: 1.2rem;
                    font-size: 0.8rem;
                }
            .uc-likes-section  {
                display: flex;
                width: 150px;
                justify-content: space-evenly;
            }
            
            .uc-likes-section > p {
                width: 100px;
                font-size: 0.8rem;
                line-height: 1.8rem;
                color: #7B7B7B;
            }
            
            .uc-likes-section > h4 {
                width: 100px;
                font-size: 0.8rem;
                line-height: 1.8rem;
                color: #7B7B7B;
            }

            .uc-viewReply {
                margin-right: 4px;
                margin-bottom: 2px;
                font-size: 0.8rem;
                line-height: 1.8rem;
            }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 12px;
    bottom: 5px;
    margin-left: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    position: relative;
  }
  

  /* up next slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E3E3E3;
    -webkit-transition: .1s;
    transition: .1s;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: -3px;
    background-color: #065FD4;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-box-shadow: -1px 1px 6px 0px rgba(2,36,80,1);
    -moz-box-shadow: -1px 1px 6px 0px rgba(2,36,80,1);
    box-shadow: -1px 1px 6px 0px rgba(2,36,80,1);
}
.slider:after {
    background-color: #909090;
    
}
  
  input:checked + .slider {
    background-color: #E3E3E3;
}

  input:focus + .slider {
    box-shadow: 0 0 1px #909090;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #909090;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(144,144,144,1);
    -moz-box-shadow: 1px 1px 6px 0px rgba(144,144,144,1);
    box-shadow: 1px 1px 6px 0px rgba(144,144,144,1);

}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
}
  
  .slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    
    .navbar {
        display: flex;
        position: fixed;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 50px;
        background-color: white;
        z-index: 5;
        overflow: hidden;
    
    } 
    .navbar a, .navbar div {
        display: inline-block;
    }
    
        /* Guide Icon */
        .hamburger-button {
            display: inline-block;
            max-height: 28px;
            position: relative;
            top: 0px;
            width: auto;
            border: none;
            outline: none;
            cursor: pointer;
        }
            .fa-bars {
                color: #606060;
                font-size: 1em;
            }
    
        /* Youtube Icon */
        .youtube-button {
            display: inline-block;
            position: relative;
            bottom: 1px;
            max-height: 25px;
            width: auto;
            background: transparent;
            border: none;
            cursor: pointer;
        }
        .youtube-icon {
            display: block;
            max-height: 20px;
            width: auto;
            margin: 0;
            padding: 0;
            background: white;
        }
        /* Search Form */
        .search-container {
            display: flex;
            justify-content: center;
            max-width: 35vw;
            max-height: 30px;
            margin: 0 15px;
        }
            .search-form {
                display: flex;
                max-width: 35vw;
                max-height: 30px;
            }
                .search-field-div {
                    display: inline-block;
                    max-width: 30vw;
                    height: inherit;
                }
                    .search-field {
                        max-width: 30vw;
                        height: inherit;
                        background: transparent;
                        padding-left: 8px;
                        font-size: 1em;
                        font-weight: 300;
                        border: 1px solid lightgray;
                        border-radius: 2px;
                        outline: none;
                    }
                    .search-button-div {
                        display: inline-block;
                        max-height: 30px;
                        width: auto
                    }
                .search-button {
                    display: inline-block;
                    height: 30px;
                    width: 40px;
                    border-radius: 2px;
                    background: transparent;
                    border: 1px solid lightgray;
                }
                    .search-button:hover {
                        background-color: #F0F0F0;
                    }
                    .fa-search {
                        color: #606060;
                        font-size: 1.2em;
                    }
                    .fa-search:hover {
                        color: #616161;
                    }
    
        /* Create Icon */
        .create-button {
            max-height: 28px;
            width: auto;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .create-icon {
            max-height: 28px;
            width: auto;
            cursor: pointer;
        }
    
        /* Apps Icon */
        .apps-button {
            max-height: 27px;
            width: auto;
            border: none;
            outline: none;
            cursor: pointer;
        }
            .apps-icon {
                height: 27px;
                width: auto;
            }
    
        /* Settings Icon */
        .settings-button {
            position: relative;
            top: 2px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0px 16px;
        }
            .fa-ellipsis-v {
                color: #606060;
                font-size: 1em;
            }
    
        /* SignIn Button */
        .signin-button {
            display: inline-block;
            max-height: 30px;
            max-width: 89px;
            border: 1px solid #0A5FD4;
            border-radius: 2px;
            font-size: 0.8em;
            font-weight: 500;
            line-height: 0;
            color: #0A5FD4;
            background-color: transparent;
            word-wrap: normal;
            white-space: nowrap;
            align-self: flex-end;
        }
            .signin-button > .fa-user-circle {
                color: #0A5FD4;
                position: relative;
                top: 4px;
                font-size: 1.6em;
                padding-right: 5px;
                line-height: 0;
                margin: 0 !important;
            }    

    .main-container {
        display: flex;
        max-width: 100vw;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 72px 20px;

    }
    .video-content {
        display: flex;
        max-width: 100vw;
        order: 1;
        margin: 0;
    }
        .description-box {
            width: 95vw;
        }
            .description-top-container {
                width: 95px;
            }

    .video-info-right {
        flex-flow: row wrap;
    }
    
        .thumbnail-column {
        display: flex;
        width: 95vw;
        margin: 0;
        order: 2;
    }
        .tn-info {
            display: inline-flex;
            max-width: 50vw;
        }
        .tn-box {
            max-width: 90vw;
        }
    
    .userComment-column {
        display: flex;
        max-width: 100vw;
        order: 3;
    }
    .description-top-container {
        display: flex;
        width: 95vw;
    } 
    .description-subscribe {
        display: inline-block;
        padding-top: 10px;
        padding-right: 3px;

    }
    .upnext {
        max-width: 95vw;
    }
    .switch-line {
        max-width: 95vw;
        padding-top: 15px;
    }
    .upnext-text {
        margin-right: 60%;
    }
}
