<footer class="footer">
  <small>
    stay-in-touch app created by: 
    <a href="https://github.com/firmoholanda">firmo holanda</a>
    and
    <a href="https://github.com/roodzfernando">roodz fernando fleurant</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</footer>