
body {
    text-align: -webkit-center;
}

.logo {
    margin-top: 200;
}

.imputText {
    margin: 5%;
    border-radius: 25px;
    line-height: 34px;
    display: block;
}

.buttons {
    margin: 3;
}

.lowerText {
    margin: 3;
}