body {
    text-align: -webkit-center;
}

.logo {
    margin-top: 200;
}

.imputText {
    margin: 5%;
    border-radius: 25px;
    line-height: 34px;
    display: block;
    -webkit-appearance: none;
}

.buttons {
    margin: 3;
}

.lowerText {
    margin-right: 0:
}

#navBar {
    display: inline;
}

.navItem {
    margin: 3;
    display: inline;
}

.navItem a:hover {
    text-decoration: underline;
    background-color: yellow;
}