.responsive {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .imgagecenter {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }

  .textcenter {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

